[submodule "src/rclada"]
	path = src/rclada
	url = https://github.com/ada-ros/rclada.git
[submodule "src/rclada_common"]
	path = src/rclada_common
	url = https://github.com/ada-ros/rclada_common.git
[submodule "src/rclada_examples"]
	path = src/rclada_examples
	url = https://github.com/ada-ros/rclada_examples.git
[submodule "src/rosidl_generator_ada"]
	path = src/rosidl_generator_ada
	url = https://github.com/ada-ros/rosidl_generator_ada.git
[submodule "src/rclada_client_skeleton"]
	path = src/rclada_client_skeleton
	url = https://github.com/ada-ros/rclada_client_skeleton.git
[submodule "src/rclada_fosdem20"]
	path = src/rclada_fosdem20
	url = https://github.com/ada-ros/rclada_fosdem20
[submodule "src/rclada_tf2"]
	path = src/rclada_tf2
	url = https://github.com/ada-ros/rclada_tf2.git
[submodule "src/tutorial_aeic21"]
	path = src/tutorial
	url = https://github.com/ada-ros/tutorial-aeic21.git
[submodule "src/webots_ros2_p3at"]
	path = src/webots_ros2_p3at
	url = https://github.com/dantard/webots_ros2_p3at.git
